<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SmartHome</display-name>
  <listener>
    <listener-class>ro.videanuadrian.smarthome.listeners.MyServletContextListener</listener-class>
  </listener>
  
  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>ro.videanuadrian.smarthome.servlets.IndexServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>Gpio</servlet-name>
    <servlet-class>ro.videanuadrian.smarthome.servlets.GpioServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Gpio</servlet-name>
    <url-pattern>/gpio.html</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>